@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500');
/* CSS Document */

.container {
	width: 1400px;
	margin: 200px auto 150px auto;
}

.content {
	width : 100%;
}