@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500');
/* CSS Document */

body {
	margin: 0;
}

.menubar {
  background:white;
  margin: 0; padding: 0;
  list-style: none;
	line-height: 30px;
  position: fixed;
	top: 0;
  width: 100%;
	z-index: 100;
}
.menubar>li {
	float: left;
  display: inline-block;
}
.menubar>li>a{
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #092E84;
	font-size: 1.3em;
	font-family: 'Noto Sans KR', sans-serif;
}
.menubar>li>a:hover {
  background:#AEE4FF;
}

#nick {
	display: block;
  padding: 10px 20px;
  color:#4925D7;
	font-size: 1.3em;
	font-family: 'Noto Sans KR', sans-serif;
}